@charset "UTF-8";
@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Noto+Sans+KR:wght@100;300;400;500;700&family=Sunflower:wght@300;500;700&display=swap');

body {
  position: relative;
  width: 100%;
  height: 5200px;
  background: #222;
  font-size: 16px;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 13px;
  }
  &::-webkit-scrollbar-thumb {
    background: rgb(195, 248, 255);
    border-radius: 15px;
  }
  &::-webkit-scrollbar-track {
    background: rgba(195, 248, 255,.3);
    border-radius: 15px;
  }
}

// 팝업창
#popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 6;
  .pop {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    width: 650px;
    height: 500px;
    background: rgb(228, 247, 255);
    border-radius: 30px;
    border: 10px solid red;
    p {
      font: 300 20px/1.3 'Sunflower', sans-serif;
      margin-bottom: 20px;
      color: #555;
      letter-spacing: -1px;
    }
    .popTxt {
      font: 500 20px/1.3 'Sunflower', sans-serif;
      color: rgb(158, 27, 27);
      margin-bottom: 80px;
      margin-top: 20px;
    }
    #pop_Close {
      position: absolute;
      bottom: 20px;
      right: 30px;
      cursor: pointer;
    }
  }
}

// 헤더
header {
  position: fixed;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #ccc;
  background: #1a1a1a;
  display: flex;
  justify-content: space-between;
  z-index: 5;
  // 로고
  .myLogo {
    display: block;
    margin: 12px 0 0 25px;
    a {
      img {
        width: 110px;
      }
    }
  }
  // 메뉴
  .gnb {
    display: flex;
    margin: 15px 25px 0 0;
    li {
      margin-left: 40px;
      
      a {
        display: block;
        padding: 7px;
        color: #fff;
        font: 20px/1 'Architects Daughter', cursive;
        &:hover {
          background: rgba(195, 248, 255,.2);
          border-radius: 5px;
        }
      }
    }
  }
  .btnMenu {
    display: none;
  }
}

// 위로가기 버튼
.docu_goTop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 50px;
  color: #C3F8FF;
  z-index: 7;
  display: none;
}

// 홈
#home {
  height: 1080px;
  overflow: hidden;
  position: relative;
  font: 700 16px/1 'Noto Sans KR', sans-serif;
  .homeTxt_1 {
    position: absolute;
    top: 240px;
    left: 80px;
    font-size: 130px;
    transform: rotate(15deg);
    .ver2022 {
      font: 400 30px/1 'Noto Sans KR', sans-serif;
      padding: 0 0 0 240px;
    }
    .webTxt {
      text-align: right;
      padding: 0 300px 0 0;
      &::after {
        content: "";
        position: absolute;
        top: 20px;
        right: -605px;
        transform: rotate(-15deg);
        width: 880px;
        border: .5px solid #444;
      }
    }
    .designTxt {
      &::after {
        content: "";
        position: absolute;
        top: 163px;
        right: -540px;
        transform: rotate(-15deg);
        width: 860px;
        border: .5px solid #444;
      }
    }
    .portfolio {
      padding: 0 0 0 80px;
      color: #FFEBAD;
      &::after {
        content: "";
        position: absolute;
        top: 232px;
        right: -680px;
        transform: rotate(-15deg);
        width: 650px;
        border: .5px solid #444;
      }
    }
    .projectTxt {
      text-align: right;
      padding-right: 45px;
    }
  }
  .homeTxt_2 {
    position: absolute;
    top: 402px;
    right: 100px;
    font: 300 30px/1 'Noto Sans KR', sans-serif;
    z-index: 2;
    .publisher {
      margin-bottom: 93px;
    }
    .webVisual {
      margin-bottom: 100px;
    }
    // .variety {}
    p::before {
      position: absolute;
      z-index: -1;
      content: "";
      left: -25px;
      width: 400px;
      height: 30px;
      background: #222;
    }
  }
  .homeTxt_3 {
    position: absolute;
    top: 820px;
    right: 100px;
    font: 700 50px/1 'Sunflower', sans-serif;
  }
  p {
    color: #a0a0a0;
  }
  span {
    color: #C3F8FF;
  }
}

// 소개
#aboutMe {
  width: 100%;
  height: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .container {
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 800px;
    // border: 1px solid red;
    
    // 소개 1
    .aboutBox_1 {
      h3 {
        color: #eaeaea;
        font: 700 50px/1 'Sunflower', sans-serif;
        margin-bottom: 50px;
      }
      .cropImg {
        width: 300px;
        height: 420px;
        border: 1px solid #eaeaea;
        border-radius: 15px;
        overflow: hidden;
        margin-bottom: 20px;
        img {
          margin-top: -60px;
          width: 300px;
        }
      }
      .aboutIntro_1 {
        font: 500 28px/1 'Sunflower', sans-serif;
        color: #eaeaea;
        margin-bottom: 40px;
      }
      .aboutIntro_2 {
        li {
          font: 300 20px/1 'Sunflower', sans-serif;
          color: #ccc;
          margin-bottom: 10px;
          a {
            color: #ccc;
          }
        }
      }
    }
    // 소개 2
    .aboutBox_2 {
      font: 100 16px/1 'Sunflower', sans-serif;
      color: #7c7c7c;
      // 교육
      .education {
        margin: 110px 0 110px 0;
        .aduTit {
          font: 300 25px/1 'Sunflower', sans-serif;
          color: #C3F8FF;
          margin-bottom: 15px;
        }
        .aduMainBox {
          li {
            margin-bottom: 15px;
            .aduMainTxt {
              font: 300 18px/1 'Sunflower', sans-serif;
              color: #ccc;
              margin-bottom: 8px;
            }
          }
        }
      }
      // 자격증
      .certification {
        .certiTit {
          font: 300 25px/1 'Sunflower', sans-serif;
          color: #C3F8FF;
          margin-bottom: 15px;
        }
        .certiMainBox {
          li {
            margin-bottom: 15px;
            .certiMainTxt {
              font: 300 18px/1 'Sunflower', sans-serif;
              color: #ccc;
              margin-bottom: 8px;
            }
          }
        }
      }
    }
    // 소개 3
    .aboutBox_3 {
      font: 100 16px/1 'Sunflower', sans-serif;
      color: #7c7c7c;
      // 역량
      .ablilty {
        margin: 110px 0 110px 0;
        .abliTit {
          font: 300 25px/1 'Sunflower', sans-serif;
          color: #C3F8FF;
          margin-bottom: 15px;
        }
        .abliMainBox {
          li {
            margin-bottom: 15px;
            .abliMainTxt {
              font: 300 18px/1 'Sunflower', sans-serif;
              color: #ccc;
              margin-bottom: 8px;
            }
          }
        }
      }
      // 스킬
      .skills {
        .skilTit {
          font: 300 25px/1 'Sunflower', sans-serif;
          color: #C3F8FF;
          margin-bottom: 15px;
        }
        .skilMainBox {
          width: 19.5vw;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          li {
            margin: 0 15px 10px 0;
            width: 70px;
            img {
              width: 100%;
              border-radius: 8px;
            }
          }
        }
      }
    }
  }
}

// 웹 프로젝트
#web {
  width: 100%;
  height: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
  .webContainer {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 800px;
    h3 {
      color: #eaeaea;
      font: 700 50px/1 'Sunflower', sans-serif;
      margin-bottom: 80px;
    }
    .webBox {
      .webProject {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
        li {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 20px;
          width: 16.5%;
          height: 240px;
          border: 1px solid #cacaca;
          border-radius: 20px;
          overflow: hidden;
          &:hover em {
            bottom: 0;
          }
          img {
            width: 260px;
          }
          em {
            font: 500 20px/1 'Sunflower', sans-serif;
            color: #fff;
            text-align: center;
            position: absolute;
            left: 0;
            bottom: -70px;
            width: 100%;
            background: rgba(0,0,0,.7);
            padding: 20px 0;
            transition: all .2s ease;
          }
        }
      }
      .imgSource {
        margin-right: 25px;
        text-align: end;
        color: #ccc;
      }
    }
  }
}

// visual 프로젝트
#visual {
  width: 100%;
  height: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
  .viContainer {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 800px;
    h3 {
      color: #eaeaea;
      font: 700 50px/1 'Sunflower', sans-serif;
      margin-bottom: 80px;
    }
    .viBox {
      .viProject {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
        li {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 20px;
          width: 16.5%;
          height: 240px;
          border: 1px solid #cacaca;
          border-radius: 20px;
          overflow: hidden;
          &:hover em {
            bottom: 0;
          }
          img {
            width: 260px;
          }
          em {
            font: 500 20px/1 'Sunflower', sans-serif;
            color: #fff;
            text-align: center;
            position: absolute;
            left: 0;
            bottom: -70px;
            width: 100%;
            background: rgba(0,0,0,.7);
            padding: 20px 0;
            transition: all .2s ease;
          }
        }
      }
      .imgSource {
        margin-right: 25px;
        text-align: end;
        color: #ccc;
      }
    }
  }
}

// 전체 배경 투명
.bodyOpacity {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 9;
  display: none;
}

// 모달창
.modal {
  position: absolute;
  display: none;
  z-index: 10;
  .modal_Close {
      position: fixed;
      top: 11%;
      right: 11%;
      width: 50px;
      height: 50px;
      font-size: 35px;
      text-align: center;
      padding: 5px 13px;
      background: #18a8c2;
      color: #bcf5ff;
      box-shadow: 10px 10px 8px rgba(0,0,0,.5);
      border-radius: 15px;
      }
  .modalInner {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #bcf5ff;
    width: 75%;
    height: 80%;
    overflow-y: scroll;
    box-shadow: 10px 10px 8px rgba(0,0,0,.5);
    border-radius: 10px;
    padding: 8px;
    border-top: 8px solid #bcf5ff;
    border-bottom: 8px solid #bcf5ff;
    .modalContent {
      position: relative;
      display: none;
      img {
        width: 100%;
      }
    }
    &::-webkit-scrollbar {
      width: 13px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgb(110, 210, 223);
      border-radius: 15px;
    }
    &::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.1);
      border-radius: 15px;
    }
  }
}

// 모달 뒷배경 스크롤막기
.scroll_nop {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

// 푸터
#footer {
  position: relative;
  height: 1000px;
  overflow: hidden;
  position: relative;
  font: 700 16px/1 'Noto Sans KR', sans-serif;
  color: #a0a0a0;
  .footBox {
    position: absolute;
    bottom: 450px;
    left: 80px;
    font-size: 130px;
    transform: rotate(15deg);
    &::after {
      content: "";
      position: absolute;
      bottom: 200px;
      right: -730px;
      transform: rotate(-15deg);
      width: 700px;
      border: .5px solid #444;
    }
    .footTxt {
      color: #FFEBAD;
    }
  }
  .webPage_thumb {
    position: absolute;
    bottom: 40px;
    right: 170px;
    border: 1px solid #333;
    width: 130px;
    padding: 3px;
    p {
      font: 100 10px/1 'Noto Sans KR', sans-serif;
    }
    img {
      width: 100%;
    }
  }
  .contBox {
    position: absolute;
    bottom: 437px;
    right: 170px;
    font: 300 30px/1 'Noto Sans KR', sans-serif;
    z-index: 2;
    .contTxt {
      &::before {
        position: absolute;
        z-index: -1;
        content: "";
        left: -25px;
        width: 400px;
        height: 30px;
        background: #222;
      }
    }
  }
  .contIconBox {
    position: absolute;
    bottom: 300px;
    right: 170px;
    .contIcon {
      display: flex;
      margin-bottom: 10px;
      li {
        margin-left: 20px;
        a {
          i {
            font-size: 50px;
            color: #C3F8FF;
          }
        }
      }
    }
  }
  .copy {
    width: 100%;
    position: absolute;
    bottom: 30px;
    font: 100 15px/1 'Noto Sans KR', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    p {
      margin-bottom: 6px;
    }
  }
}


// 미디어쿼리 1500px 일 때
@media all and (max-width: 1500px) {
  // 홈 부분 1500px 반응형
  #home {
    .homeTxt_1 {
      left: 50px;
    }
    .homeTxt_2 {
      right: 60px;
    }
    .homeTxt_3 {
      font: 700 40px/1 'Sunflower', sans-serif;
    }
  }
}

// 미디어쿼리 1350px 일 때
@media all and (max-width: 1350px) {
  // 홈 부분 1350px 반응형
  #home {
    .homeTxt_1 {
      transform: rotate(0deg);
      .webTxt {
        &::after {
          display: none;
        }
      }
    }
    .designTxt {
      &::after {
        display: none;
      }
    }
    .portfolio {
      &::after {
        display: none;
      }
    }
  }

  // 소개 부분 1350px 반응형
  #aboutMe {
    .container {
      .aboutBox_3 {
        .skills {
          .skilMainBox {
            width: 23.6vw;
            li {
              width: 65px;
            }
          }
        }
      }
    }
  }

  // 웹 프로젝트 부분 1350px 반응형
  #web {
    .webContainer {
      .webBox {
        .webProject {
          li {
            width: 18.5%;
            margin: 5px 5px 30px 5px;
          }
        }
      }
    }
  }

  // 시각 프로젝트 부분 1350px 반응형
  #visual {
    .viContainer {
      .viBox {
        .viProject {
          li {
            width: 18.5%;
            margin: 5px 5px 30px 5px;
          }
        }
      }
    }
  }

  // 푸터 부분 1350px 반응형
  #footer {
    .footBox {
      bottom: 380px;
      transform: rotate(0deg);
      &::after {
        display: none;
      }
    }
    .webPage_thumb {
      display: none;
    }
    .contBox {
      bottom: 350px;
    }
    .contIconBox {
      bottom: 270px;
    }
  }
}

// 미디어쿼리 1024px 일 때
@media all and (max-width: 1024px) {
  // 바디 부분 1024px 반응형
  body {
    height: 3700px;
  }

  // 홈 부분 1024px 반응형
  #home {
    height: 780px;
    .homeTxt_1 {
      top: 140px;
      font-size: 110px;
      .ver2022 {
        padding: 0 0 0 280px;
      }
      .webTxt {
        padding: 0 270px 0 0;
      }
      .projectTxt {
        padding: 0 35px 0 0;
      }
    }
    .homeTxt_2 {
      top: 200px;
      right: 110px;
      font: 300 20px/1 'Noto Sans KR', sans-serif;
      .publisher {
        margin-bottom: 15px;
      }
      .webVisual {
        margin-bottom: 15px;
      }
    }
    .homeTxt_3 {
      top: 620px;
      right: 100px;
      font: 700 50px/1 'Sunflower', sans-serif;
    }
  }

  // 소개 부분 1024px 반응형
  #aboutMe {
    height: 780px;
    .container {
      width: 90%;
      height: 550px;
      .aboutBox_1 {
        h3 {
          font: 700 45px/1 'Sunflower', sans-serif;
          margin-bottom: 25px;
        }
        .cropImg {
          width: 260px;
          height: 320px;
          img {
            margin-top: -70px;
            width: 260px;
          }
        }
        .aboutIntro_1 {
          font: 500 26px/1 'Sunflower', sans-serif;
          margin-bottom: 28px;
        }
        .aboutIntro_2 {
          li {
            font: 300 18px/1 'Sunflower', sans-serif;
            margin-bottom: 10px;
          }
        }
      }
      .aboutBox_2 {
        .education {
          margin: 68px 0 110px 0;
        }
      }
      .aboutBox_3 {
        .ablilty {
          margin: 68px 0 110px 0;
        }
        .skills {
          .skilMainBox {
            width: 21.5vw;
            li {
              margin: 0 10px 5px 0;
              width: 55px;
            }
          }
        }
      }
    }
  }

  // 웹 프로젝트 부분 1024px 반응형
  #web {
    height: 780px;
    .webContainer {
      width: 90%;
      height: 550px;
      h3 {
        font: 700 45px/1 'Sunflower', sans-serif;
        margin-bottom: 25px;
      }
      .webBox {
        .webProject {
          li {
            width: 18.5%;
            height: 210px;
            margin: 5px 5px 30px 5px;
            &:hover em {
              bottom: 0;
            }
            img {
              width: 220px;
            }
            em {
              bottom: 0;
            }
          }
        }
      }
    }
  }

  // 시각 프로젝트 부분 1024px 반응형
  #visual {
    height: 780px;
    .viContainer {
      width: 90%;
      height: 550px;
      h3 {
        font: 700 45px/1 'Sunflower', sans-serif;
        margin-bottom: 25px;
      }
      .viBox {
        .viProject {
          li {
            width: 18.5%;
            height: 210px;
            margin: 5px 5px 30px 5px;
            &:hover em {
              bottom: 0;
            }
            img {
              width: 220px;
            }
            em {
              bottom: 0;
            }
          }
        }
      }
    }
  }

  // 푸터 부분 1024px 반응형
  #footer {
    height: 780px;
    .footBox {
      bottom: 360px;
      font-size: 110px;
      transform: rotate(0deg);
      &::after {
        display: none;
      }
    }
    .webPage_thumb {
      display: none;
    }
    .contBox {
      bottom: 320px;
      right: 120px;
      font: 300 24px/1 'Noto Sans KR', sans-serif;
    }
    .contIconBox {
      bottom: 250px;
      right: 120px;
      .contIcon {
        li {
          a i {
            font-size: 40px;
          }
        }
      }
    }
  }
}

// 미디어쿼리 420px 일 때
@media all and (max-width: 420px) {
  // 팝업창 부분 420px 반응형
  #popup {
    .pop {
      width: 400px;
      height: 500px;
      border: 6px solid red;
      p {
        font: 300 15px/1.3 'Sunflower', sans-serif;
      }
      .popTxt {
        font: 500 17px/1.3 'Sunflower', sans-serif;
      }
    }
  }

  // 헤더 부분 420px 반응형
  header {
    position: fixed;
    height: 42px;
    .myLogo {
      margin: 3px 0 0 15px;
      a {
        img {
          width: 70px;
        }
      }
    }
    .gnb {
      display: none;
    }
    .btnMenu {
      display: block;
      color: #ccc;
      font-size: 26px;
      margin: 6px 15px 0 0;
    }
  }

  // 위로가기 버튼 부분 420px 반응형
  .docu_goTop {
    bottom: 20px;
    right: 20px;
    font-size: 40px;
  }

  // 홈 부분 420px 반응형
  #home {
    .homeTxt_1 {
      top: 130px;
      left: 30px;
      font-size: 64px;
      .ver2022 {
        font: 400 25px/1 'Noto Sans KR', sans-serif;
        padding: 0;
      }
      .webTxt {
        text-align: left;
      }
      .portfolio {
        padding: 0;
      }
      .projectTxt {
        text-align: left;
      }
    }
    .homeTxt_2 {
      top: 470px;
      right: 30px;
      text-align: right;
      font: 300 17px/1 'Noto Sans KR', sans-serif;
      .publisher {
        margin-bottom: 5px;
        color: #555;
      }
      .webVisual {
        margin-bottom: 5px;
        color: #555;
      }
      .variety {
        color: #555;
      }
      p::before {
        display: none;
      }
    }
    .homeTxt_3 {
      top: 600px;
      right: 20px;
      font: 700 30px/1 'Sunflower', sans-serif;
    }
  }

  // 소개 부분 420px 반응형
  #aboutMe {
    height: 1800px;
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 1700px;
      .aboutBox_1 {
        h3 {
          font: 700 35px/1 'Sunflower', sans-serif;
          margin-bottom: 25px;
        }
        .cropImg {
          width: 260px;
          height: 320px;
          img {
            margin-top: -70px;
            width: 260px;
          }
        }
        .aboutIntro_1 {
          font: 500 26px/1 'Sunflower', sans-serif;
          margin-bottom: 28px;
        }
        .aboutIntro_2 {
          li {
            font: 300 18px/1 'Sunflower', sans-serif;
            margin-bottom: 10px;
          }
        }
      }
      .aboutBox_2 {
        .education {
          margin: 68px 0 110px 0;
        }
      }
      .aboutBox_3 {
        .ablilty {
          margin: 68px 0 110px 0;
        }
        .skills {
          .skilMainBox {
            width: 71vw;
            // border: 1px solid red;
            li {
              margin: 0 10px 8px 0;
              width: 55px;
            }
          }
        }
      }
    }
  }

  // 웹 프로젝트 부분 420px 반응형
  #web {
    height: 760px;
    .webContainer {
      height: 600px;
      h3 {
        font: 700 35px/1 'Sunflower', sans-serif;
        margin-bottom: 20px;
      }
      .webBox {
        .webProject {
          li {
            width: 29%;
            height: 120px;
            margin: 5px 5px 15px 5px;
            img {
              width: 140px;
            }
            em {
              font: 300 13px/1 'Sunflower', sans-serif;
              padding: 10px 0;
            }
          }
        }
        .imgSource {
          margin-right: 10px;
          font-size: 15px;
        }
      }
    }
  }

  // 시각 프로젝트 부분 420px 반응형
  #visual {
    height: 760px;
    .viContainer {
      height: 600px;
      h3 {
        font: 700 35px/1 'Sunflower', sans-serif;
        margin-bottom: 20px;
      }
      .viBox {
        .viProject {
          li {
            width: 29%;
            height: 120px;
            margin: 5px 5px 15px 5px;
            img {
              width: 140px;
            }
            em {
              font: 300 13px/1 'Sunflower', sans-serif;
              padding: 10px 0;
            }
          }
        }
        .imgSource {
          margin-right: 10px;
          font-size: 15px;
        }
      }
    }
  }

  // 푸터 부분 420px 반응형
  #footer {
    height: 760px;
    .footBox {
      bottom: 430px;
      left: 27px;
      font-size: 64px;
    }
    .contBox {
      bottom: 320px;
      right: 50%;
      transform: translateX(50%);
      font: 300 24px/1 'Noto Sans KR', sans-serif;
    }
    .contIconBox {
      bottom: 250px;
      right: 50%;
      transform: translateX(50%);
      .contIcon {
        li {
          margin-left: 10px;
          margin-right: 10px;
          a i {
            font-size: 40px;
          }
        }
      }
    }
    .copy {
      bottom: 20px;
      font: 100 12px/1 'Noto Sans KR', sans-serif;
      p {
        padding: 0 12px;
        letter-spacing: 0;
      }
    }
  }
}